#header, #menu, #main, #footer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 1000px;
}

#letters {
	padding: 5px;
}

#searchPanel {
	padding: 5px;
}

td {
	border-bottom: 1.0px solid #cccccc;
}

.photoColumn {
	width: 100.0px;
}
.nameColumn {
	width: 400.0px;
}
.contactColumn {
	width: 600.0px;
}